*{
    text-align: center;
}

.gallary{
    box-sizing: border-box;
    margin: 10px  50px;
    
    
}


.gallary img{
    max-height:17vh;
    min-height:17vh;
    max-width:17vh;
    min-width:17vh;
    padding: 4px;
    transition: 1s;
    cursor: pointer;
}

.gallary img:hover{
    transform:scale(1.1) ;

}
.Bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    color:ghostwhite;
  }