*{
    text-align: center;
    box-sizing: border-box;
}




.photo img{
    max-height: 30vw;
    min-height: 30vw;
    max-width:30vw;
    min-width: 30vw;
    margin: 4px;
    border: 1px;
    transition: 1s;
}

.photo:hover{
    filter:blur(4);
    transform:scale(1.1) ;

}